@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    font-family: "Roboto";
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.header_menu{
    background-color: #313131;
}
.header_menu li,
.contacts li{
    list-style: none;
}
.header_menu ul,
.flex_between{
    padding-left: 0;
}
.header_menu a{
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    position: relative;
    /* padding: 16px 0; */
    display: block;
    padding-top: 3px;
    padding-bottom: 16px;
}
.header_menu a:before{
    content: "";
    position: absolute;
    border-bottom: 2px solid #439eea;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0;
    display: none;
}
.header_menu a:hover:before{
    display: block;
}
.header_menu_flex,
.flex_between{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 6px;
}
.search input:first-child{
    background-color: #313131;
    color: #989898;
    border: 1px solid #989898;
    height: 30px;
    padding-left: 10px;
    outline: none;
    position: relative;
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 10px;
}
.input:focus{
    box-shadow: 0 0 5px rgba(225, 225, 225, 1);
}
.input_a{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.relative_form{
    position: relative;
    max-height: 40px;
}
.input_a+label{
    padding: 0px 8px;
    right: 10px;
    position: absolute;
    top: 8px;
    /* position: relative; */
}
.input_a+label:before{
    cursor: pointer;
    content: "";
    position: absolute;
    background: url(../images/search.png);
    width: 12px;
    height: 12px;
    top: 3px;
    right: 0;
    filter: brightness(50%);
}
.input_a+label:hover:before{
    filter: brightness(100%);
}
.header_contacts a{
    font-size: 26px;
    color: #5d5d5d;
    font-weight: 500;
    font-family: "Ubuntu";
    text-decoration: none;
    margin: 20px 0;
    margin-top: 10px;
}
.contacts a{
    margin-left: 40px;
}
.contacts a:hover{
    color: #3f83bc;
    text-decoration: underline;
}
.contacts_ul{
    padding: 15px 0;
}
.contacts_ul a{
    font-size: 13px;
    color: #000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
.background_image{
    background-color: #666c6d;
    background: url(../images/background-image2.png) no-repeat center/cover;
}
.background_image p:first-child{
    text-align: center;
    font-size: 30px;
    color: #fcfcfc;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-top: 115px;
}
.background_image p{
    font-size: 16px;
    line-height: 24px;
    color: #fcfcfc;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 30px 0;
    margin-top: 0;
}
.background_image p:last-child{
    padding-bottom: 115px;
}
.background_image a{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #439eea;
    background-color: #439eea;
    border-radius: 3px;
    padding: 10px 30px;
}
.background_image a:hover{
    color: #439eea;
    background-color: #f7f7f7;
}
.about_teacher{
    text-align: center;
}
.main .first_p{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 30px 0;
    margin: 0;
    position: relative;
    display: inline-block;
}
.main .first_p:before{
    content: "";
    position: absolute;
    border-bottom: 1px solid #bfbfbf;
    right: 15px;
    height: 1px;
    left: 15px;
    bottom: 8px;
}
.about_teacher p{
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 60px;
}
.uslugi{
    background-color: #f2f2f2;
    text-align: center;
}
.wrapper .y:before{
    bottom: 30px;
}
.uslugi{
    position: relative;
}
.pointer1{
    position: absolute;
    left: 50px;
    top: 48%;
    background: url(../images/before.png) no-repeat;
    padding: 20px 10px;
    filter: contrast(50%);
}
.pointer2{
    position: absolute;
    right: 50px;
    top: 48%;
    background: url(../images/after.png) no-repeat;
    padding: 20px 10px;
    filter: contrast(50%);
}
.pointer1:hover{
    filter: contrast(100%);
}
.pointer2:hover{
    filter: contrast(100%);
}
.uslugi p:first-child{
    font-size: 20px;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 60px 0;
}
.uslugi_flex{
    max-width: 690px;
    margin: 0 auto;
}
.uslugi_flex a{
    width: 500px;
    text-decoration: none;
}
.uslugi_flex a:hover .col1 p:first-child{
    background-position: -388px -120px;
    background-color: #479fe9;
}
.uslugi_flex a:hover .col2 p:first-child{
    background-position: -519px -120px;
    background-color: #479fe9;
}
.uslugi_flex a:hover .col3 p:first-child{
    background-position: -657px -123px;
    background-color: #479fe9;
}
.col1,
.col2,
.col3{
    text-align: center;
    max-width: 300px;
}
.col1 p:first-child,
.col2 p:first-child,
.col3 p:first-child{
    width: 110px;
    margin: 0 auto;
}
.col1 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -388px 2px;
    border: 3px solid #439eea;
    border-radius: 50%;
    padding-top: 50px;
}
.col2 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -519px 2px;
    border: 3px solid #439eea;
    border-radius: 50%;
    padding-top: 50px;
}
.col3 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -657px 2px;
    border: 3px solid #439eea;
    border-radius: 50%;
    padding-top: 50px;
}
.col1 h2,
.col2 h2,
.col3 h2{
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.col1 p:last-child,
.col2 p,
.col3 p{
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 46px;
}
.col3 p{
    padding-top: 20px;
}
.portfolio{
    text-align: center;
}
#p:before{
    bottom: 0;
}
#p{
    margin: 30px 0;
}
.portfolio p{
    text-align: center;
    font-size: 20px;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 60px;
    margin-bottom: 100px;
    display: inline-block;
}
.portfolio_a{
    text-align: center;
}
.portfolio_a a{
    border: 1px solid #e6e6e6;
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #f7f7f7;
    color: #000;
    text-decoration: none;
    margin: 0 4px;
    display: inline-block;
}
.portfolio_a a:hover{
    background-color: #439eea;
    color: #fff;
}
.photos{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    /* overflow: hidden; */
    margin-top: 30px;
    margin-bottom: 25px;
}
.photos img{
    margin: 0 -22px;
}
.photos img:first-child{
    margin-left: -80px;
}
.see_all a{
    font-size: 13px;
    color: #000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border: 1px solid #e6e6e6;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #f7f7f7;
    text-transform: uppercase;
}
.see_all a:hover{
    background-color: #439eea;
    color: #fff;
}
.see_all{
    text-align: center;
    margin-bottom: 60px;
}
.otzivi{
    background-color: #f2f2f2;
    text-align: center;
}
#o:before{
    bottom: 30px;
}
.otzivi>div>p:first-child{
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-top: 60px;
    font-style: normal;
    padding-bottom: 60px;
}
.ellipse_photos{
    text-align: center;
    margin-bottom: 30px;
}
.ellipse_photos img:first-child,
.ellipse_photos img:last-child{
    margin-bottom: 15px;
}
.ellipse_photos a{
    position: relative;
}
.text{
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 630px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    /* position: relative; */
}
.ellipse_photos a:nth-child(2):before,
.ellipse_photos a:nth-child(3):before,
.ellipse_photos a:nth-child(4):before,
.ellipse_photos a:nth-child(5):before{
    content: "";
    position: absolute;
    border: 1px solid transparent;
    background-color: #f7f7f7;
    border-top-color: #e6e6e6;
    border-right-color: #e6e6e6;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    left: 42%;
    bottom: -43px;
    display: none;
}
.ellipse_photos a:hover:before{
    display: block;
}
.otzivi .text p{
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px;
}
.otzivi p{
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 0;
}
.ellipse_photos a:first-child{
    background: url(../images/before.png) no-repeat;
    width: 0px;
    padding-right: 0;
    padding-left: 20px;
    display: inline-block;
    padding-top: 55px;
    margin-right: 20px;
    filter: contrast(50%);
}
.ellipse_photos a:first-child:hover,
.ellipse_photos a:last-child:hover{
    filter: contrast(100%);
}
.ellipse_photos a:last-child{
    background: url(../images/after.png) no-repeat;
    width: 0px;
    padding-left: 0;
    padding-left: 20px;
    display: inline-block;
    padding-top: 55px;
    margin-left: 20px;
    filter: contrast(50%);
}
.otzivi .a{
    background: url(../images/ellipse2.png) no-repeat;
    background-position: 0 0;
    width: 50px;
    padding-left: 20px;
    padding-right: 1px;
    padding-bottom: 72px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    filter: grayscale(100%);
    transition: 0.3s all ease;
}
.otzivi .a:hover{
    filter: grayscale(0%);
}
.help{
    background-color: #439eea;
    text-align: center;
}
.help_first_p{
    display: inline-block;
    position: relative;
}
.help_first_p:before{
    content: "";
    position: absolute;
    border-top: 1px solid #6fb3ec;
    height: 1px;
    left: 15px;
    right: 15px;
    bottom: 10px;
}
.help p:first-child{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 0;
    padding: 60px 0;
    padding-bottom: 46px;
    margin-bottom: 0;
}
.help p{
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 35px;
}
.help a{
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border:  2px solid #fff;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 60px;
}
.help a:hover{
    background-color: #f7f7f7;
    color: #439eea;
}
.footer_background_color{
    background-color: #313131;
}
.footer_cols{
    display: flex;
    justify-content: space-between;
}
.footer_col p:first-child{
    text-transform: uppercase;
    font-size: 14px;
    color: #989898;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-top: 46px;
    padding-bottom: 36px;
}
.footer_col p,
.footer_col a{
    font-size: 13px;
    line-height: 19px;
    color: #5a5a5a;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
.footer_col p{
    padding-bottom: 47px;
}
.footer_col3 li:first-child>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -258px;
    padding-right: 10px;
    margin-right: 10px;
}
.footer_col3 li:nth-child(2)>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -280px;
    padding-right: 10px;
    margin-right: 10px;
}
.footer_col3 li:nth-child(3)>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -100px;
    margin-right: 20px;
}
.footer_col3 li:last-child>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -238px;
    padding-right: 10px;
    margin-right: 10px;
}
.footer_col3 li>a:hover{
    color: #3f83bc;
    text-decoration: underline;
}
.footer_col3 .f_wk{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -208px -247px;
    padding: 19px;
    display: inline-block;
    border: 1px solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_f{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -240px -246px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_tw{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -271px -246px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_g{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -305px -246px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_wk:hover{
    background-position: -208px -287px;
    background-color: #439eea;
}
.footer_col3 .f_f:hover{
    background-position: -240px -287px;
    background-color: #439eea;
}
.footer_col3 .f_tw:hover{
    background-position: -271px -285px;
    background-color: #439eea;
}
.footer_col3 .f_g:hover{
    background-position: -305px -286px;
    background-color: #439eea;
}
.recent_photos{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}
.recent_photos a{
    margin: 7.5px;

}
.recent_photos img{
    filter: grayscale(100%);
    transition: all 0.3s ease;
}
.recent_photos img:hover{
    filter: grayscale(0%);
}
.footer_col3 li{
    list-style: none;
    margin: 15px 0;
}
.footer_col3 ul{
    padding-left: 0;
}
.copyright{
    background-color: #f2f2f2;
    text-align: center;
}
.copyright p{
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 17px;
}
