body{
    margin: 0;
    font-family: "Roboto";
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.header_menu{
    background-color: #313131;
}
.header_menu li,
.contacts li{
    list-style: none;
}
.header_menu ul,
.flex_between{
    padding-left: 0;
}
.header_menu a{
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto";
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
}
.header_menu a:hover{
    text-decoration: underline;
}
.header_menu_flex,
.flex_between{
    display: flex;
    justify-content: space-between;
}
.input{
    margin: 10px 0;
    background-color: #313131;
    color: #fff;
    border: 1px solid #fff;
    height: 30px;
}
.header_contacts a{
    font-size: 26px;
    color: #5d5d5d;
    font-weight: 500;
    font-family: "Ubuntu";
    text-decoration: none;
    margin: 25px 0;
}
.contacts a{
    margin-left: 40px;
}
.contacts a:hover{
    color: #3f83bc;
    text-decoration: underline;
}
.contacts_ul{
    padding: 15px 0;
}
.contacts_ul a{
    font-size: 13px;
    color: #000;
    font-weight: 400;
    font-family: "Open Sans";
    text-decoration: none;
}
.background_image{
    background-color: #666c6d;
    background: url(../images/background-image.png) no-repeat center/cover;
}
.background_image p:first-child{
    text-align: center;
    font-size: 30px;
    color: #fcfcfc;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-top: 115px;
}
.background_image p{
    font-size: 16px;
    line-height: 24px;
    color: #fcfcfc;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    margin: 30px 0;
    margin-top: 0;
}
.background_image p:last-child{
    padding-bottom: 115px;
}
.background_image a{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #439eea;
    background-color: #439eea;
    border-radius: 3px;
    padding: 10px 30px;
}
.background_image a:hover{
    background-color: #313131;
}
.main .first_p{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    margin: 60px 0;
}
.about_teacher p{
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 60px;
}
.uslugi{
    background-color: #f2f2f2;
}
.uslugi p:first-child{
    font-size: 20px;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 60px 0;
}
.uslugi_flex{
    max-width: 690px;
    margin: 0 auto;
}
.uslugi_flex a{
    width: 500px;
    text-decoration: none;
}
.uslugi_flex a:hover h2{
    text-decoration: underline;
}
.uslugi_flex a:hover .col1 p:first-child{
    background-position: 0 -112px;
}
.uslugi_flex a:hover .col2 p:first-child{
    background-position: -114px -112px;
}
.uslugi_flex a:hover .col3 p:first-child{
    background-position: -227px -112px;
}
.col1,
.col2,
.col3{
    text-align: center;
    max-width: 300px;
}
.col1 p:first-child,
.col2 p:first-child,
.col3 p:first-child{
    width: 110px;
    margin-bottom: 0;
    margin-left: 55px;
    margin-top: -5px;
}
.col1 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: 0 10px;
}
.col2 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -114px 10px;
}
.col3 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -227px 10px;
}
.col1 h2,
.col2 h2,
.col3 h2{
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto";
}
.col1 p:last-child,
.col2 p,
.col3 p{
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
    margin-top: 20px;
    padding-bottom: 46px;
}
.col3 p{
    padding-top: 20px;
}
.portfolio p{
    text-align: center;
    font-size: 20px;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 60px;
    margin-bottom: 65px;
}
.portfolio_a{
    text-align: center;
}
.portfolio_a a{
    border: 1px solid #e6e6e6;
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: 400;
    font-family: "Roboto";
    font-size: 14px;
    background-color: #f7f7f7;
    color: #000;
    text-decoration: none;
    margin: 0 4px;
}
.portfolio_a a:hover{
    background-color: #439eea;
    color: #fff;
}
.photos{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    /* overflow: hidden; */
    margin-top: 50px;
    margin-bottom: 25px;
}
.photos img{
    margin: 0 -22px;
}
.photos img:first-child{
    margin-left: -80px;
}
.see_all a{
    font-size: 13px;
    color: #000;
    font-weight: 500;
    font-family: "Roboto";
    text-decoration: none;
    border: 1px solid #e6e6e6;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #f7f7f7;
}
.see_all a:hover{
    background-color: #439eea;
    color: #fff;
}
.see_all{
    text-align: center;
    margin-bottom: 60px;
}
.otzivi{
    background-color: #f2f2f2;
}
.otzivi>div>p:first-child{
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-top: 60px;
}
.ellipse_photos{
    text-align: center;
    margin-bottom: 30px;
}
.ellipse_photos img{
    margin: 0 10px;
}
.ellipse_photos img:first-child,
.ellipse_photos img:last-child{
    margin-bottom: 15px;
}
.text{
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 630px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.otzivi .text p{
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.otzivi p{
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 0;
}
.ellipse_photos a:first-child{
    background: url(../images/before.png) no-repeat;
    width: 0px;
    padding-right: 0;
    padding-left: 20px;
    display: inline-block;
    padding-top: 55px;
    margin-right: 20px;
}
.ellipse_photos a:last-child{
    background: url(../images/after.png) no-repeat;
    width: 0px;
    padding-left: 0;
    padding-left: 20px;
    display: inline-block;
    padding-top: 55px;
    margin-left: 20px;
}
.otzivi .a{
    background: url(../images/ellipse_sprite.png) no-repeat;
    background-position: 0 0;
    width: 50px;
    padding-left: 20px;
    padding-right: 1px;
    padding-bottom: 72px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}
.otzivi .a:hover{
    background-position: -1px -91px;
}
.help{
    background-color: #439eea;
    text-align: center;
}
.help p:first-child{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 0;
    padding: 60px 0;
    padding-bottom: 46px;
    margin-bottom: 0;
}
.help p{
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 35px;
}
.help a{
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto";
    text-transform: uppercase;
    text-decoration: none;
    border:  2px solid #fff;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 60px;
}
.help a:hover{
    background-color: #313131;
}
.footer_background_color{
    background-color: #313131;
}
.footer_cols{
    display: flex;
    justify-content: space-between;
}
.footer_col p:first-child{
    text-transform: uppercase;
    font-size: 14px;
    color: #989898;
    font-weight: 700;
    font-family: "Roboto";
    padding-top: 46px;
    padding-bottom: 36px;
}
.footer_col p,
.footer_col a{
    font-size: 13px;
    line-height: 19px;
    color: #5a5a5a;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}
.footer_col p{
    padding-bottom: 47px;
}
.footer_col3 li:first-child>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -258px;
    padding-right: 10px;
    margin-right: 10px;
}
.footer_col3 li:nth-child(2)>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -280px;
    padding-right: 10px;
    margin-right: 10px;
}
.footer_col3 li:nth-child(3)>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -100px;
    margin-right: 20px;
}
.footer_col3 li:last-child>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -238px;
    padding-right: 10px;
    margin-right: 10px;
}
.footer_col3 li>a:hover{
    color: #3f83bc;
    text-decoration: underline;
}
.footer_col3 .f_wk{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -28px -246px;
    padding: 20px;
    display: inline-block;
}
.footer_col3 .f_f{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -67px -246px;
    padding: 20px;
    display: inline-block;
}
.footer_col3 .f_tw{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -107px -246px;
    padding: 20px;
    display: inline-block;
}
.footer_col3 .f_g{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -147px -246px;
    padding: 20px;
    display: inline-block;
}
.footer_col3 .f_wk:hover{
    background-position: -28px -295px;
}
.footer_col3 .f_f:hover{
    background-position: -67px -295px;
}
.footer_col3 .f_tw:hover{
    background-position: -106px -295px;
}
.footer_col3 .f_g:hover{
    background-position: -146px -295px;
}
.recent_photos{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}
.recent_photos img{
    margin: 7.5px;
}
.footer_col3 li{
    list-style: none;
    margin: 15px 0;
}
.footer_col3 ul{
    padding-left: 0;
}
.copyright{
    background-color: #f2f2f2;
    text-align: center;
}
.copyright p{
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    font-family: "Open Sans";
    margin: 0;
    padding-top: 20px;
    padding-bottom: 25px;
}
