@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html{
    font-size: 1px;
}
body{
    margin: 0;
    font-family: "Roboto";
}
.wrapper{
    margin: 0 auto;
    max-width: 960rem;
}
.header_menu{
    background-color: #313131;
}
.header_menu li,
.contacts li{
    list-style: none;
}
.header_menu ul,
.flex_between{
    padding-left: 0;
}
.header_menu a{
    font-size: 13rem;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40rem;
    position: relative;
    /* padding: 16rem 0; */
    display: block;
    padding-top: 3rem;
    padding-bottom: 16rem;
}
.header_menu a:before{
    content: "";
    position: absolute;
    border-bottom: 2rem solid #439eea;
    left: 0;
    right: 0;
    height: 2rem;
    bottom: 0;
    display: none;
}
/* .header_menu a:hover:before{
    display: block;
} */
.header_menu_flex,
.flex_between{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 6rem;
}
.search input:first-child{
    background-color: #313131;
    color: #989898;
    border: 1rem solid #989898;
    height: 30rem;
    padding-left: 10rem;
    outline: none;
    position: relative;
    padding-right: 30rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 10rem;
}
.input:focus{
    box-shadow: 0 0 5rem rgba(225, 225, 225, 1);
}
.input_a{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.relative_form{
    position: relative;
    max-height: 40rem;
}
.input_a+label{
    padding: 0rem 8rem;
    right: 10rem;
    position: absolute;
    top: 8rem;
    /* position: relative; */
}
.input_a+label:before{
    cursor: pointer;
    content: "";
    position: absolute;
    background: url(../images/search.png);
    width: 12rem;
    height: 12rem;
    top: 3rem;
    right: 0;
    filter: brightness(50%);
}
.input_a+label:hover:before{
    filter: brightness(100%);
}
.header_contacts a{
    font-size: 26rem;
    color: #5d5d5d;
    font-weight: 500;
    font-family: "Ubuntu";
    text-decoration: none;
    margin: 20rem 0;
    margin-top: 10rem;
}
.contacts a{
    margin-left: 40rem;
}
.contacts a:hover{
    color: #3f83bc;
    text-decoration: underline;
}
.contacts_ul{
    padding: 15rem 0;
}
.contacts_ul a{
    font-size: 13rem;
    color: #000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
.background_image{
    background-color: #666c6d;
    background: url(../images/background-image2.png) no-repeat center/cover;
}
.background_image p:first-child{
    text-align: center;
    font-size: 30rem;
    color: #fcfcfc;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-top: 115rem;
}
.background_image p{
    font-size: 16rem;
    line-height: 24rem;
    color: #fcfcfc;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 30rem 0;
    margin-top: 0;
}
.background_image p:last-child{
    padding-bottom: 115rem;
}
.background_image a{
    text-align: center;
    font-size: 14rem;
    letter-spacing: 0rem;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border: 1rem solid #439eea;
    background-color: #439eea;
    border-radius: 3rem;
    padding: 10rem 30rem;
}
.background_image a:hover{
    color: #439eea;
    background-color: #f7f7f7;
}
.about_teacher{
    text-align: center;
}
.main .first_p{
    font-size: 20rem;
    color: #000;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 30rem 0;
    margin: 0;
    position: relative;
    display: inline-block;
}
.main .first_p:before{
    content: "";
    position: absolute;
    border-bottom: 1rem solid #bfbfbf;
    right: 15rem;
    height: 1rem;
    left: 15rem;
    bottom: 8rem;
}
.about_teacher p{
    font-size: 14rem;
    line-height: 21rem;
    color: #000;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 60rem;
}
.uslugi{
    background-color: #f2f2f2;
    text-align: center;
}
.wrapper .y:before{
    bottom: 30rem;
}
.uslugi{
    position: relative;
}
.pointer1{
    position: absolute;
    left: 50rem;
    top: 48%;
    background: url(../images/before.png) no-repeat;
    padding: 20rem 10rem;
    filter: contrast(50%);
}
.pointer2{
    position: absolute;
    right: 50rem;
    top: 48%;
    background: url(../images/after.png) no-repeat;
    padding: 20rem 10rem;
    filter: contrast(50%);
}
.pointer1:hover{
    filter: contrast(100%);
}
.pointer2:hover{
    filter: contrast(100%);
}
.uslugi p:first-child{
    font-size: 20rem;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 60rem 0;
}
.uslugi_flex{
    max-width: 690rem;
    margin: 0 auto;
}
.uslugi_flex a{
    width: 500rem;
    text-decoration: none;
}
.uslugi_flex a:hover .col1 p:first-child{
    background-position: -388rem -120rem;
    background-color: #479fe9;
}
.uslugi_flex a:hover .col2 p:first-child{
    background-position: -519px -120px;
    background-color: #479fe9;
}
.uslugi_flex a:hover .col3 p:first-child{
    background-position: -657px -123px;
    background-color: #479fe9;
}
.col1,
.col2,
.col3{
    text-align: center;
    max-width: 300rem;
}
.col1 p:first-child,
.col2 p:first-child,
.col3 p:first-child{
    width: 110rem;
    margin: 0 auto;
}
.col1 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -388rem 2rem;
    border: 3rem solid #439eea;
    border-radius: 50%;
    padding-top: 50rem;
}
.col2 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -519rem 2rem;
    border: 3rem solid #439eea;
    border-radius: 50%;
    padding-top: 50rem;
}
.col3 p:first-child{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -657rem 2rem;
    border: 3rem solid #439eea;
    border-radius: 50%;
    padding-top: 50rem;
}
.col1 h2,
.col2 h2,
.col3 h2{
    text-align: center;
    font-size: 14rem;
    line-height: 21rem;
    color: #000;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.col1 p:last-child,
.col2 p,
.col3 p{
    font-size: 14rem;
    line-height: 20rem;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 20rem;
    padding-bottom: 46rem;
}
.col3 p{
    padding-top: 20rem;
}
.portfolio{
    text-align: center;
}
#p:before{
    bottom: 0;
}
#p{
    margin: 30rem 0;
}
.portfolio p{
    text-align: center;
    font-size: 20rem;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 60rem;
    margin-bottom: 100rem;
    display: inline-block;
}
.portfolio_a{
    text-align: center;
    margin: 0 20rem;
}
.portfolio_a a{
    border: 1rem solid #e6e6e6;
    padding: 10rem 25rem;
    border-radius: 3rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14rem;
    background-color: #f7f7f7;
    color: #000;
    text-decoration: none;
    margin: 0 4rem;
    display: inline-block;
}
.portfolio_a a:hover{
    background-color: #439eea;
    color: #fff;
}
.photos{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    /* overflow: hidden; */
    margin-top: 30rem;
    margin-bottom: 25rem;
}
.photos img{
    margin: 0 -22rem;
}
.photos img:first-child{
    margin-left: -80rem;
}
.see_all a{
    font-size: 13rem;
    color: #000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border: 1rem solid #e6e6e6;
    padding: 10rem 25rem;
    border-radius: 3rem;
    background-color: #f7f7f7;
    text-transform: uppercase;
}
.see_all a:hover{
    background-color: #439eea;
    color: #fff;
}
.see_all{
    text-align: center;
    margin-bottom: 60rem;
}
.otzivi{
    background-color: #f2f2f2;
    text-align: center;
}
#o:before{
    bottom: 30rem;
}
.otzivi>div>p:first-child{
    text-align: center;
    font-size: 20rem;
    color: #000;
    font-weight: 400;
    font-family: "Roboto Slab";
    padding-top: 60rem;
    font-style: normal;
    padding-bottom: 60rem;
}
.ellipse_photos{
    text-align: center;
    margin-bottom: 30rem;
}
.ellipse_photos img:first-child,
.ellipse_photos img:last-child{
    margin-bottom: 15rem;
}
.ellipse_photos a{
    position: relative;
}
.text{
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 630rem;
    border: 1rem solid #e6e6e6;
    border-radius: 3rem;
    /* position: relative; */
}
.ellipse_photos a:nth-child(2):before,
.ellipse_photos a:nth-child(3):before,
.ellipse_photos a:nth-child(4):before,
.ellipse_photos a:nth-child(5):before{
    content: "";
    position: absolute;
    border: 1rem solid transparent;
    background-color: #f7f7f7;
    border-top-color: #e6e6e6;
    border-right-color: #e6e6e6;
    transform: rotate(-45deg);
    width: 15rem;
    height: 15rem;
    left: 42%;
    bottom: -43rem;
    display: none;
}
.ellipse_photos a:hover:before{
    display: block;
}
.otzivi .text p{
    font-size: 13rem;
    line-height: 18rem;
    color: #000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 17rem;
    padding-bottom: 20rem;
    margin: 0 auto;
    max-width: 500rem;
    padding-left: 20px;
    padding-right: 20px;
}
.otzivi p{
    font-size: 14rem;
    line-height: 18rem;
    color: #000;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 60rem;
    margin-bottom: 0;
}
.ellipse_photos a:first-child{
    background: url(../images/before.png) no-repeat;
    width: 0rem;
    padding-right: 0;
    padding-left: 20rem;
    display: inline-block;
    padding-top: 55rem;
    margin-right: 20rem;
    filter: contrast(50%);
}
.ellipse_photos a:first-child:hover,
.ellipse_photos a:last-child:hover{
    filter: contrast(100%);
}
.ellipse_photos a:last-child{
    background: url(../images/after.png) no-repeat;
    width: 0rem;
    padding-left: 0;
    padding-left: 20rem;
    display: inline-block;
    padding-top: 55rem;
    margin-left: 20rem;
    filter: contrast(50%);
}
.otzivi .a{
    background: url(../images/ellipse2.png) no-repeat;
    background-position: 0 0;
    width: 50rem;
    padding-left: 20rem;
    padding-right: 1rem;
    padding-bottom: 72rem;
    margin-right: 5rem;
    margin-left: 5rem;
    display: inline-block;
    filter: grayscale(100%);
    transition: 0.3s all ease;
}
.otzivi .a:hover{
    filter: grayscale(0%);
}
.help{
    background-color: #439eea;
    text-align: center;
}
.help_first_p{
    display: inline-block;
    position: relative;
}
.help_first_p:before{
    content: "";
    position: absolute;
    border-top: 1rem solid #6fb3ec;
    height: 1rem;
    left: 15rem;
    right: 15rem;
    bottom: 10rem;
}
.help p:first-child{
    font-size: 20rem;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 0;
    padding: 60rem 0;
    padding-bottom: 46rem;
    margin-bottom: 0;
}
.help p{
    font-size: 14rem;
    line-height: 21rem;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    margin-bottom: 35rem;
    max-width: 700rem;
}
.help a{
    font-size: 14rem;
    line-height: 19rem;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border:  2rem solid #fff;
    border-radius: 3rem;
    padding: 10rem 15rem;
    display: inline-block;
    margin-bottom: 60rem;
}
.help a:hover{
    background-color: #f7f7f7;
    color: #439eea;
}
.footer_background_color{
    background-color: #313131;
}
.footer_cols{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_col{
    margin: 0 10rem;
}
.footer_col p:first-child{
    text-transform: uppercase;
    font-size: 14rem;
    color: #989898;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-top: 46rem;
    padding-bottom: 36rem;
}
.footer_col p,
.footer_col a{
    font-size: 13rem;
    line-height: 19rem;
    color: #5a5a5a;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
.footer_col p{
    padding-bottom: 47rem;
}
.footer_col3 li:first-child>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -258rem;
    padding-right: 10rem;
    margin-right: 10rem;
}
.footer_col3 li:nth-child(2)>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -280rem;
    padding-right: 10rem;
    margin-right: 10rem;
}
.footer_col3 li:nth-child(3)>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -100rem;
    margin-right: 20rem;
}
.footer_col3 li:last-child>a:before{
    content: "";
    background: url(../images/sprite2.png);
    background-position: 0 -238rem;
    padding-right: 10rem;
    margin-right: 10rem;
}
.footer_col3 li>a:hover{
    color: #3f83bc;
    text-decoration: underline;
}
.footer_col3 .f_wk{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -208rem -247rem;
    padding: 19rem;
    display: inline-block;
    border: 1rem solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_f{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -240rem -246rem;
    padding: 20rem;
    display: inline-block;
    border: 1rem solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_tw{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -271rem -246rem;
    padding: 20rem;
    display: inline-block;
    border: 1rem solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_g{
    background: url(../images/sprite2.png) no-repeat;
    background-position: -305rem -246rem;
    padding: 20rem;
    display: inline-block;
    border: 1rem solid #72b6ef;
    border-radius: 50%;
}
.footer_col3 .f_wk:hover{
    background-position: -208rem -287rem;
    background-color: #439eea;
}
.footer_col3 .f_f:hover{
    background-position: -240rem -287rem;
    background-color: #439eea;
}
.footer_col3 .f_tw:hover{
    background-position: -271rem -285rem;
    background-color: #439eea;
}
.footer_col3 .f_g:hover{
    background-position: -305rem -286rem;
    background-color: #439eea;
}
.recent_photos{
    display: flex;
    flex-wrap: wrap;
    max-width: 300rem;
}
.recent_photos a{
    margin: 7.5rem;

}
.recent_photos img{
    filter: grayscale(100%);
    transition: all 0.3s ease;
}
.recent_photos img:hover{
    filter: grayscale(0%);
}
.footer_col3 li{
    list-style: none;
    margin: 15rem 0;
}
.footer_col3 ul{
    padding-left: 0;
}
.copyright{
    background-color: #f2f2f2;
    text-align: center;
}
.copyright p{
    font-size: 12rem;
    line-height: 18rem;
    color: #000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-top: 12rem;
    padding-bottom: 17rem;
}

.div{
    position: relative;
    padding-right: 20rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
    display: none;
}
span{
    position: absolute;
}
.span1{
    background-color: #fff;
    top: 0;
    width: 20rem;
    height: 2rem;
    transition: 0.3s all ease;
}
.span2{
    background-color: #fff;
    width: 20rem;
    height: 2rem;
    top: 7rem;
}
.span3{
    background-color: #fff;
    width: 20rem;
    height: 2rem;
    top: 14rem;
    transition: 0.3s all ease;

}






.div2 .span1{
    transform: rotate(45deg);
    top: 9rem;
}
.div2 .span2{
    display: none;
}
.div2 .span3{
    transform: rotate(-45deg);
    top: 9rem;
}
.search{
    max-width: 50vw;
}
.footer_col1{
    max-width: 300rem;
}

@media screen and (max-width: 1000px){
    .wrapper{
        padding: 0 20rem;
    }
}
@media screen and (max-width: 803px){
    .header_menu_flex{
        display: none;
    }
    .div{
        display: block;
    }
    .wrapper .p2{
        display: block;
        position: absolute;
        top: 45rem;
        background-color: #333;
        z-index: 2;
        width: 100vw;
        left: 0rem;
    }
    .wrapper .p2 a{
        margin-left: 20rem;
        padding-right: 50rem;
        display: inline-block;
    }
}
@media screen and (min-width: 803px){
    .header_menu a:hover::before {
        display: block;
    }
}
@media screen and (max-width: 767px){
    .header_contacts_flex,
    .contacts_ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts_ul a{
        display: inline-block;
    }
    .wrapper .teacher{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 351px){
    .contacts_ul li{
        display: block;
        width: 100vw;
        text-align: center;
    }
    .contacts_ul a{
        /* margin-left: 30%; */
        margin-top: 0;
        margin-bottom: 15rem;
    }
}
@media screen and (max-width: 780px){
    .col3{
        display: none;
    }
    .col3_a{
        display: none;
    }
    .uslugi_flex{
        justify-content: center;
    }
    .wrapper .col1_a,
    .wrapper .col2_a,
    .wrapper .col1,
    .wrapper .col2{
        width: 200rem;
    }
    .wrapper .col1_a,
    .wrapper .col2_a{
        margin: 0 20rem;
    }
}
@media screen and (max-width: 594px){
    .col2{
        display: none;
    }
    .col2_a{
        display: none;
    }
}
@media screen and (max-width: 380px){
    .pointer1{
        left: 20rem;
    }
    .pointer2{
        right: 20rem;
    }
}
@media screen and (max-width: 439px){
    .portfolio_a a{
        margin-bottom: 10rem;
    }
    .portfolio_a a:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 351px){
    .contacts_ul a{
        margin-right: 12%;
    }
}
@media screen and (max-width: 463px){
    .ellipse_photos a:nth-child(5){
        display: none;
    }
}
@media screen and (max-width: 379px){
    .ellipse_photos a:nth-child(4){
        display: none;
    }
}
@media screen and (max-width: 293px){
    .ellipse_photos a:nth-child(3){
        display: none;
    }
}
@media screen and (max-width: 889px){
    .footer_cols{
        justify-content: center;
        text-align: center;
    }
    .footer_col1{
        max-width: 100vW;
    }
    .footer_col2 p:first-child,
    .footer_col3 p:first-child{
        padding-top: 0;
    }
    .footer_col2,
    .footer_col3{
        margin: 0 50rem;
        margin-bottom: 40rem;
    }
    .recent_photos{
        justify-content: center;
    }
}
@media screen and (max-width: 718px){
    .footer_col2,
    .footer_col3{
        margin: 0 20rem;
        margin-bottom: 40rem;
    }
}
@media screen and (max-width: 329px){
    .recent_photos img,
    .recent_photos a{
        width: 70vW;
    }
}
@media screen and (max-width: 651px){
    .contacts_ul a{
        margin-bottom: 5rem;
    }
}
/* @media screen and (max-width: 767px){
    .contacts_ul li:first-child a{
        margin-left: 0;
    }
    .contacts_ul a{
        margin-right: 10px;
    }
} */
@media screen and (max-width: 767px){
    .wrapper .contacts_ul a{
        margin-right: 20rem;
        margin-left: 20rem;
    }
}
@media screen and (min-width: 1600px){
    html{
        font-size: 1.5px;
    }
}
@media screen and (min-width: 2560px){
    html{
        font-size: 2px;
    }
}
@media screen and (min-width: 2560px){
    html{
        font-size: 2px;
    }
}
.search input:first-child{
    font-size: 15rem;
}
.input_a+label:before{
    background-repeat: no-repeat;
    background-size: 13rem;
}
.col1 p:first-child{
    background-size: 920rem;
    background-position: -7rem -8rem;
}
.uslugi_flex a:hover .col1 p:first-child {
    background-position: -7rem -149rem;
}
.col2 p:first-child{
    background-size: 920rem;
    background-position: -141rem -8rem;
}
.uslugi_flex a:hover .col2 p:first-child {
    background-position: -141rem -149rem;
}
.col3 p:first-child{
    background-size: 920rem;
    background-position: -273rem -8rem;
}
.uslugi_flex a:hover .col3 p:first-child {
    background-position: -273rem -149rem;
}
.pointer1,
.pointer2{
    background-size: 20rem;
}
.photos{
    height: 200rem;
}
.otzivi .a{
    background-size: 70rem;
}
.ellipse_photos a:first-child,
.ellipse_photos a:last-child{
    background-size: 20rem;
}
.ellipse_photos a:nth-child(2):before,
.ellipse_photos a:nth-child(3):before,
.ellipse_photos a:nth-child(4):before,
.ellipse_photos a:nth-child(5):before {
    bottom: -40rem;
}
.recent_photos img{
    width: 120rem;
}
.footer_col3 li:first-child>a:before {
    background-position: 0px -302rem;
    background-size: 920rem;
}
.footer_col3 li:nth-child(2)>a:before{
    background-position: -1px -320rem;
    background-size: 900rem;
}
.footer_col3 li:last-child>a:before{
    background-position: -1px -258rem;
    background-size: 850rem;
}
.footer_col3 .f_wk{
    background-position: -238rem -284rem;
    background-size: 900rem;
}
.footer_col3 .f_wk:hover {
    background-position: -238rem -330rem;
    background-color: #439eea;
}
.footer_col3 .f_f{
    background-position: -274rem -281rem;
    background-size: 900rem;
}
.footer_col3 .f_f:hover {
    background-position: -274rem -328rem;
    background-color: #439eea;
}
.footer_col3 .f_tw{
    background-position: -310rem -283rem;
    background-size: 900rem;
}
.footer_col3 .f_tw:hover {
    background-position: -310rem -327rem;
    background-color: #439eea;
}
.footer_col3 .f_g{
    background-position: -348rem -283rem;
    background-size: 900rem;
}
.footer_col3 .f_g:hover {
    background-position: -348rem -329rem;
    background-color: #439eea;
}
